<nav class="app-nav">
  <div class="logo-container" onclick="location.href='student-home.html'">
    <img src="assets/eventurex-icon.png" class="logo-icon" />
    <h2 class="logo-text">EventureX</h2>
  </div>

  <ul class="nav-links">
    <li><a href="student-home.html">Home</a></li>
    <li><a href="events.html">Events</a></li>
    <li><a href="past-events.html">Past Events</a></li>
    <li id="adminLink" style="display:none;"><a href="admin-dashboard.html">Admin</a></li>
  </ul>

  <button id="logoutBtn" class="btn-outline small-btn">Logout</button>
</nav>
